body {
  
}



.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*background-color: #000000;*/
    /*color: #ffffff;*/
}

main {
    flex: 1;
}


.todo-wrapper {
    backdrop-filter: blur(10px);
    background: rgb(40,106,246);
    background: linear-gradient(90deg, rgba(40,106,246,1) 0%, rgba(21,55,128,1) 34%, rgba(0,0,0,1) 100%);
}


.top-row {
    background-color: #000000;
    color: #ffffff;
    border-bottom: 1px solid #0071c1;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row > a {
    color: #ffffff;
}

    .top-row ::deep a, .top-row .btn-link {
        color: #0071c1;
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row button {
        color: #00ace4;
    }



    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }



@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
